<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.terminal">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".OpenningActivity"
            android:screenOrientation="landscape"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"

            >

            </activity>

        <activity android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            />

        <activity android:name=".HomeDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ShowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>
